@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
main {
    background: url('../images/bg-mobile.png' )no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 98vh;

}
div#wrapper {
    display: grid;
    grid-template-rows: 180px 150px;
    gap: 20px;
}
section {
    
    background-color: hsl(228, 56%, 26%);
    padding: 30px;
}
section#top {
    border-radius: 10px 100px 10px 10px;
    
}
section#top > div#img {
    display: flex;
    height: 45px;
    margin-top: 20px;
    gap: 20px;

   
}
section#top > div#img > img {
    border-radius: 10px;
    background-color: hsl(229, 57%, 11%);
    padding: 13px;
}

section#under {
    border-radius: 10px;

}
section#under > p {
    margin-bottom: 10px;
    color: hsl(243, 100%, 93%);
    text-align: center;
}

div#barr {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 20px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 100px;
}
div#int {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;

    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 100px;
    margin-left: 2px;
    height: 70%;
    width: 60%;
    
}
div#bol{
    background-color: white;
    border-radius: 50%;
    height: 65%;
    width: 10px;
    margin-right: 2px;
}
p.gb {
    
    display: inline;
}
p#gb{

  margin-left: 200px;
}
p#right {
    font-size: 2.5em;
    color: hsl(229, 57%, 11%);
    font-weight: bold;
}

p#left {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
div#fora {
    position: absolute;
}
div#number  {
    border-radius: 10px;
    position: relative;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 180px;
    height: 70px;
    top: 60px;
    left: 50px;
    
}




