@charset "UTF-8";
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
  *{
    margin: 0;
    padding: 0;
  }
  body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
  }
  main {
    display: grid;
    grid-template-columns: auto 360px auto;
    grid-template-rows: 1fr 3fr 120px 1fr;
    grid-template-areas: 
    ". . ."
    ". top ."
    ". bottom ."
    ". . ."    
    ;
    height: 97vh;
    background: url('../images/bg-mobile.png') no-repeat;
    background-size: cover;
    background-position: center center;
    gap: 20px;

  }
  section div.text {
    color: white;
  }
  section {

   background-color: hsl(228, 56%, 26%);
   padding: 30px;
  }
  main > section#top{
    border-radius: 10px 100px 10px 10px;
     display: flex;
    flex-direction: column;
    grid-area: top;
  }
  main > section#top > img#logo{
    width: 150px;
  }
  main > section#top > div > div.icon{
    border-radius: 10px;
    display: inline-flex;
    margin-left: 20px;
    margin-top: 20px;
    background-color: hsl(229, 57%, 11%);

  }
  main > section#top > div > div#document {
    padding: 10px 13px;

  }
  main > section#top > div > div#folder{
    padding: 12px 10px;
  }
  main > section#top > div > div#upload {
    padding: 14px 11px;
  }

  main > section#bottom {
    grid-area: bottom;
    display: grid;
    grid-template-columns: 1fr 1fr 80px;
    grid-template-rows: 20px 15px 40px  50px;


    grid-template-areas: 
    "text text text"
    "bar bar bar"
    "zero . hund"
    "number number number"
    ;
    
    border-radius: 10px;
  }

 main > section#bottom > div#number {
    grid-area: number;
    
    background-color: white;
    text-align: center;
    justify-self: center;
    width: 170px;
    height: 50px;
    border-radius: 10px;
 }
 main > section#bottom > div#number > p {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 main > section#bottom > div#number > p > span#left {
    margin-top: 10px;
 }
 main > section#bottom > div#number > p > span#gb{
  font-size: 2.5em;
  font-weight: bolder;
  color: hsl(229, 57%, 11%);
}
 main > section#bottom > div#text {
    grid-area: text;
 }
 div#barr {
    
    display: flex;
    align-items: center;

    grid-area: bar;
    background-color: hsl(229, 57%, 11%, .6);
    border-radius: 100px;
 }
 div#int {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left:2px;
    background-image:linear-gradient(to right, hsl(6, 100%, 80%),  hsl(335, 100%, 65%));
    border-radius: 100px;
    height: 80%;
    width: 50%;
 }
 div#bol {
    margin-right: 2px;
    border-radius: 50%;
    background-color: white;
    width: 9%;
    height: 80%;
 }

 main > section#bottom > div#zero {
    grid-area: zero;
 }
 main > section#bottom > div#hund {
    grid-area: hund;
 }


